In [65]:
import pandas as pd
import numpy as np
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)
#df = df.set_index([labels])
print(df)
# affichage des 3 première ligne de notre dataFrame
print('Les 3 premières lignes de notre data frame est : ')
print(df.head(3))
#Supprimer les lignes qui ont comme score NaN
df = df.drop(["d", "h"], axis=0)
print("Affichage de nos données après la suppression d'une ligne")
print(df)

#extraction des colonnes name et score
print("Affichage de données des colonnes name et score :")
print(df[["name", "score"]])

#importation dataframe vers csv
df.to_csv('data.csv')
new_data = pd.read_csv('data.csv')
print(new_data)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
Les 3 premières lignes de notre data frame est :
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
Affichage de nos données après la suppression d'une ligne
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
Affichage de données des colonnes name et score :
        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
i      Kevin    8.0
j      Jonas   19.0
  Unnamed: 0       name  score  attempts qualify
0          a  Anastasia   12.5         1     yes
1          b       Dima    9.0         3      no
2          c  Katherine   16.5         2     yes
3          e      Emily    9.0         2      no
4          f    Michael   20.0         3     yes
5          g    Matthew   14.5         1     yes
6          i      Kevin    8.0         2      no
7          j      Jonas   19.0         1     yes